body {
    background-color: rgb(243, 227, 206);
    font-family: 'Times New Roman', Times, serif;
}

nav {
    padding: 20px;
}

nav li {
    display: inline;
    margin: 5px;
}

.nav_img {
    width: 100px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(124, 17, 17);
    padding: 10px
}

h1 {
    color: rgb(243, 227, 206);
    letter-spacing: 2px;
    text-align: center;
    padding-top: 10px;
}

h1:hover{
    transform: scale(2);
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);

}

a:hover{
    color: rgb(104, 34, 34);
    background-color: beige;
    border-radius: 10px;
}

.container {
    width: 100;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-content{
    width: 100%;
    max-width: 450px;
    background-color: rgb(124, 17, 17);
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 25px;
}

.form-content h2 {
    font-size: 30px;
    margin-bottom: 60px;
    color: white;
    position: relative;
}

.form-content h2::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background-color: rgb(201, 85, 31);
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-field {
    background-color: rgb(243, 227, 206);
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    transition: max-height 0.5s ;
    overflow: hidden;
}

input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
    padding: 18px 15px;
    color: #000000;
}

input::placeholder {
    color: rgb(124, 17, 17);
}
    
.input-field i {
    margin-left: 15px;
    color: rgb(201, 85, 31);
}

form p {
    color: white;
    text-align: left;
    font-size: 13px;
}

form p a {
    color: rgb(201, 85, 31);
    margin-left: 5px;
}

.btn-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-field button {
    flex-basis: 48%;
    font-size: 16px;
    background-color: rgb(201, 85, 31);
    color: white;
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition:  background 1s;
}

.input-group {
    height: 250px;
}

.btn-field button.disable {
    background-color: #ffffff;
    color: rgb(201, 85, 31);
}

footer {
    background-color: rgb(124, 17, 17);
    text-align: center;
    padding: 10px;
    color: rgb(241, 245, 202);
}

footer a{
    text-decoration: none;
    color: rgb(241, 245, 202);
    background-color: rgb(173, 41, 41);
    border-radius: 10px;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

.rubik-mono-one-regular {
    font-family: "Rubik Mono One", serif;
    font-weight: 400;
    font-style: normal;
}