body {
    background-color: rgb(243, 227, 206);
    font-family: 'Times New Roman', Times, serif;
}

nav {
    padding: 20px;
}

nav li {
    display: inline;
    margin: 5px;
}

.nav_img {
    width: 100px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(124, 17, 17);
    padding: 10px
}

h1 {
    color: rgb(243, 227, 206);
    letter-spacing: 2px;
    text-align: center;
    padding-top: 10px;
}

h1:hover{
    transform: scale(2);
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);

}

a:hover{
    color: rgb(104, 34, 34);
    background-color: beige;
    border-radius: 10px;
}

img {
    width: 100px;
}

.mapa{
    display: flex;
    justify-content: space-between;
    gap: auto;
    flex-wrap: wrap;
    padding: 10px;
}

footer {
    background-color: rgb(124, 17, 17);
    text-align: center;
    padding: 10px;
    color: rgb(241, 245, 202);
}

footer a{
    text-decoration: none;
    color: rgb(241, 245, 202);
    background-color: rgb(173, 41, 41);
    border-radius: 10px;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

.rubik-mono-one-regular {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
}